:root {
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;

  /* color */
  --color-primary: #a62626;
  --color-secondary: #be3737;
  --color-text: rgba(0, 0, 0, 0.56);
  --color-bgBtn: rgba(0, 0, 0, 0.04);
  --color-btn: rgba(0, 0, 0, 0.56);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
