.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  margin-top: 1rem;
}

@media screen and (max-width: 920px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
