.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 15px;
  margin-right: 300px;
}


@media screen and (max-width: 1100px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
